.featured-review{
    padding: 60px 0; 
    border-bottom: 1px solid #e0e0e0;
    position:relative;
  .featured-review-text{
    padding: 30px;
    box-shadow: 0 0 20px 3px rgba(0,0,0,0.1);
    max-width: 300px;
    background-color: #fff;
    margin: 0 auto;

    h5{
      margin-bottom: 15px;
    }
    p{
      margin-bottom: 15px;
    }
    span{
      display: block;
      text-align: center;
      font-size: 12px;
      font-family: $font-family-secondary;
      color: #777;
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      padding: 1px 0;
    }

    @media (min-width:768px){
      position: absolute;
    top:50%;
    left:40%;
    transform: translateY(-50%);
    }
  }
}

.review{
  border-bottom: 1px solid #e0e0e0;
  padding: 60px 0;
  blockquote p{
    margin-bottom: 30px;
  }
  blockquote footer:before{
    content: '';
  }

  footer{
    margin: 0 auto;
    width: 60%;
  }
  img{
    float: left;
  }
  span{
    font-family:  $font-family-secondary;
    display: inline-block;
    margin-left: 10px;
    
    &:first-of-type{
     margin-top: 10px; 
    }
  }
  

  .review-name{
    font-size: $font-main-size;
  }
}