/*--------------------------------------------------------------
# colors variables
--------------------------------------------------------------*/
$color-text-main: #555555;
$color-brand-main: #e952b9;
$color-brand-secondary: #f8a1dd;

$background-color-main: #fff;
$background-color-secondary: #eeeeee;
$background-color-footer:#333333;

/*--------------------------------------------------------------
# typography variables
--------------------------------------------------------------*/
$font-family-main: 'Open Sans';
$font-family-secondary: 'Open Sans';
$font-family-third: 'league_gothicregular';

$font-main-size:15px;
$font-secondary-size:12px;
$font-third-size:16px;
$font-four-size:18px;

$font-heading-one: 156px;
$font-heading-two: 100px;
$font-heading-three: 60px;
$font-heading-four:36px;
$font-heading-five: 30px;
$font-heading-six: 48px;

/*--------------------------------------------------------------
# structure variables
--------------------------------------------------------------*/

